<html xml:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header class="header-container">
    <section class="navi-bar">
        <div class="navi-logo">
            <a href="/">
                <img class="logo-img" src="/image/util/logo_3.png" alt="">
            </a>
        </div>
        <div class="navi-search">
            <form class="search" method="get" action="/search">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23AAA' stroke-width='2' d='M11 17c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM15 15l4.95 4.95'/%3E %3C/svg%3E"
                     alt="" class="search-icon">
                <input type="search" class="search-data" name="search_data" placeholder="새로로운 취미를 찾아보세요."
                       autocomplete="off">
            </form>
            <div class="search-box">
                <section class="box-area">
                    <span style="width: 100%">추천 검색어</span>
                    <a href="">
                        <button class="btn recommand-button">test1</button>
                    </a>
                    <a href="">
                        <button class="btn recommand-button">test2</button>
                    </a>
                    <a href="">
                        <button class="btn recommand-button">test3</button>
                    </a>
                    <a href="">
                        <button class="btn recommand-button">test4</button>
                    </a>
                    <a href="">
                        <button class="btn recommand-button">test5</button>
                    </a>

                </section>
            </div>
        </div>
        <th:block th:if="${not #lists.isEmpty(session.user_info)}" th:with="info=${session.user_info}">
            <div class="navi-list" th:fragment="logined">
                <a class="move-bt" href="/host/regist"><span class="navi-text">호스트지원</span></a>
                <div th:if="${not #lists.isEmpty(session.user_info)}" th:with="info=${session.user_info}">
                    <div class="menu-box-container" style="display: none">
                        <div class="menu-box-area">
                            <div class="user-name-box">
                                <span class="user-name">[[${info.name}]] 님</span>
                            </div>
                            <div class="menu-text-area">
                                <a class="menu-text" href="/mypage">마이 페이지</a></div>
                            <div class="logout-area">
                                <a class="menu-text logout" href="/logout">로그아웃</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="move-bt" href="/"><span class="navi-text">내 프리</span></a>
                <div class="user-menu" style="margin: 0">
                    <img class="profile" th:src="${info.profile}">
                    <img data-v-35a09b99=""
                         src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgxMnYxMkgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iIzg4OCIgc3Ryb2tlLXdpZHRoPSIxLjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEwIDQgNiA4IDIgNCIvPgogICAgPC9nPgo8L3N2Zz4K">
                </div>
            </div>
        </th:block>
        <th:block sec:authorize="isAuthenticated()" th:style="${'display:inline'}" th:with="info=${session.user_info}">
            <div class="navi-list">
                <a class="move-bt" href="/host/regist"><span class="navi-text">호스트지원</span></a>
                <div>
                    <div class="menu-box-container" style="display: none">
                        <div class="menu-box-area">
                            <div class="user-name-box">
                                <span class="user-name"> [[${info.name}]]님</span>
                            </div>
                            <div class="menu-text-area">
                                <a class="menu-text" href="/mypage">마이 페이지</a>
                            </div>
                            <div class="logout-area">
                                <a class="menu-text logout" href="/logout">로그아웃</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="move-bt" href="/"><span class="navi-text">내 프리</span></a>
                <div class="user-menu" style="margin: 0">
                    <img class="profile" th:src="${info.profile}">
                    <!--                        <img class="profile" src="image/default_profile.webp">-->
                    <img data-v-35a09b99=""
                         src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgxMnYxMkgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iIzg4OCIgc3Ryb2tlLXdpZHRoPSIxLjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0iTTEwIDQgNiA4IDIgNCIvPgogICAgPC9nPgo8L3N2Zz4K">
                </div>
            </div>
        </th:block>
        <th:block sec:authorize="isAnonymous()">
            <div class="navi-list" th:unless="${not #lists.isEmpty(session.user_info)}">
                <a class="move-bt" href="/host/regist"><span class="navi-text">호스트지원</span></a>
                <a class="move-bt" href="/sign-up"><span class="navi-text">회원가입</span></a>
                <a class="login-bt btn" href=><span class="navi-text login-text">로그인</span></a>
            </div>
        </th:block>
    </section>
</header>

