<header class="host-header-container" th:fragment="host_regist">
    <section class="host-navi-bar">
        <div class="navi-logo">
            <a href="/host/center" style="display: inline-block">
                <img class="logo-img" src="/image/util/logo_3.png" alt="">
            </a>
        </div>
        <div class="navi-title">프리 호스트</div>
    </section>
</header>

<header class="host-header-container2" th:fragment="host_center">
    <section class="host-navi-bar">
        <div class="navi-title">프리 호스트 관리 센터</div>
        <div class="host-header-account-area">
            <img class="host-img" src="/image/host/host_profile.webp">
            <span class="host-name">호스트 이름</span>
            <a href="/logout">
                <button class="host-logout">로그아웃</button>
            </a>
        </div>
    </section>

</header>



