<header class="host-header-container" th:fragment="host_regist">
    <section class="host-navi-bar">
        <div class="navi-logo">
            <a href="/host/center" style="display: inline-block">
                <img class="logo-img" src="/image/util/logo_3.png" alt="">
            </a>
        </div>
        <div class="navi-title">프리 호스트</div>
    </section>
</header>

<header class="host-header-container2" th:fragment="host_center">
    <section class="host-navi-bar">
        <div class="navi-title">프리 호스트</div>
    </section>
</header>



