<header class="host-header-container" th:fragment="host_regist">
    <section class="host-navi-bar-regist">
        <div class="navi-logo">
            <a href="/host/center" style="display: inline-block">
                <img class="logo-img" src="/image/util/logo_3.png" alt="">
            </a>
        </div>
        <div class="navi-title">프리 호스트</div>
    </section>
</header>

<header class="host-header-container2" th:fragment="host_center">
    <section class="host-navi-bar">
        <div class="navi-title">프리 호스트 관리 센터</div>
        <div class="host-header-account-area">
            <img class="host-img" th:src="${session.host_info.hostProfile}">
            <span class="host-name">[[${session.host_info.hostname}]]</span>
            <a href="/host/logout">
                <button class="host-logout"><span class="logout-text">호스트 로그아웃</span></button>
            </a>
        </div>
    </section>

</header>



