<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/header.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common_util.css">
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div class="mainContainer">
    <div th:replace=/util/header :: header></div>
    <div class="search-container">
        <div class="search-title">
            ?? 검색 결과 ?count?
        </div>
        <div class="search-filter">
            <button class="btn btn-filter">최신순</button>
            <button class="btn btn-filter">인기순</button>
            <button class="btn btn-filter ort-filter">지역</button>
        </div>
        <div class="search-result">
            <div class="produkt-wrapper"><a href="" class="produkt-link">
                <div class="produkt-karte">
                    <div class="produkt-img-area">
                        <img class="produkt-img" src=""/>
                    </div>
                    <div class="produkt-detail-area">
                        <div class="produkt-detail">
                            <span class="produkt-ort">sadfsdfsda</span>
                            <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                            <hr>
                            <span class="produkt-preise">10,000원</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="produkt-wrapper"><a href="" class="produkt-link">
                <div class="produkt-karte">
                    <div class="produkt-img-area">
                        <img class="produkt-img" src=""/>
                    </div>
                    <div class="produkt-detail-area">
                        <div class="produkt-detail">
                            <span class="produkt-ort"></span>
                            <span class="produkt-title"></span>
                            <hr>
                            <span class="produkt-preise">???원</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="produkt-wrapper"><a href="" class="produkt-link">
                <div class="produkt-karte">
                    <div class="produkt-img-area">
                        <img class="produkt-img" src=""/>
                    </div>
                    <div class="produkt-detail-area">
                        <div class="produkt-detail">
                            <span class="produkt-ort"></span>
                            <span class="produkt-title"></span>
                            <hr>
                            <span class="produkt-preise">???원</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="produkt-wrapper"><a href="" class="produkt-link">
                <div class="produkt-karte">
                    <div class="produkt-img-area">
                        <img class="produkt-img" src=""/>
                    </div>
                    <div class="produkt-detail-area">
                        <div class="produkt-detail">
                            <span class="produkt-ort"></span>
                            <span class="produkt-title"></span>
                            <hr>
                            <span class="produkt-preise">???원</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="produkt-wrapper"><a href="" class="produkt-link">
                <div class="produkt-karte">
                    <div class="produkt-img-area">
                        <img class="produkt-img" src=""/>
                    </div>
                    <div class="produkt-detail-area">
                        <div class="produkt-detail">
                            <span class="produkt-ort"></span>
                            <span class="produkt-title"></span>
                            <hr>
                            <span class="produkt-preise">???원</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            <div class="produkt-wrapper"><a href="" class="produkt-link">
                <div class="produkt-karte">
                    <div class="produkt-img-area">
                        <img class="produkt-img" src=""/>
                    </div>
                    <div class="produkt-detail-area">
                        <div class="produkt-detail">
                            <span class="produkt-ort"></span>
                            <span class="produkt-title"></span>
                            <hr>
                            <span class="produkt-preise">???원</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>


        </div>
    </div>


</div>
<div th:replace=/util/footer :: footer></div>
</body>
</html>