<script>
    $(function () {
        const search_reset_bt = `<button type="button" class="search-remove">
                    <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E %3Cg fill='none' fill-rule='nonzero'%3E %3Ccircle cx='8' cy='8' r='8' fill='%23BBB'/%3E %3Cpath fill='%23FFF' d='M7.823 7.116l2.475-2.475 1.06 1.06-2.474 2.476 2.298 2.298-1.06 1.06-2.299-2.298-2.121 2.122-1.06-1.06 2.12-2.122-2.298-2.298 1.061-1.061 2.298 2.298z'/%3E %3C/g%3E %3C/svg%3E"
                        alt="">
                </button>`;

        let isCancleButton = false;
        $('.search-data').on('keyup', function () {
            if (!isCancleButton) {
                $(this).after(search_reset_bt)
                isCancleButton = true;
            }
        });

        $(document).on('click', '.search-remove', function () {
            $('.search-data').val("");
            $('.search-remove').remove();
            isCancleButton = false;
        });

        $(document).on('focus', '.search-data', function (){
            $('.search-box').css("display", "block");
        })
        $(document).on('blur', '.search-data', function (){
            $('.search-box').css("display", "none");
        })

    });
</script>
<header class="header-container">
    <section class="navi-bar">
        <div class="navi-logo">
            <a href="/">
                <img class="logo-img" src="../image/logo_3.png" alt="">
            </a>
        </div>
        <div class="navi-search">
            <form class="search">
                <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E %3Cpath stroke='%23AAA' stroke-width='2' d='M11 17c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM15 15l4.95 4.95'/%3E %3C/svg%3E"
                     alt="" class="search-icon">
                <input type="search" class="search-data" placeholder="새로로운 취미를 찾아보세요.">
            </form>
                <div class="search-box">
                    <section class="box-area">
                        <span style="width: 100%">추천 검색어</span>
                        <a href="" ><button class="btn recommand-button">test1</button></a>
                        <a href="" ><button class="btn recommand-button">test2</button></a>
                        <a href="" ><button class="btn recommand-button">test3</button></a>
                        <a href="" ><button class="btn recommand-button">test4</button></a>
                        <a href="" ><button class="btn recommand-button">test5 </button></a>

                    </section>
                </div>
        </div>
        <div class="navi-list">
            <a class="move-bt" href="/joinhost"><span class="navi-text">호스트지원</span></a>

            <a class="move-bt" href="/sign-up"><span class="navi-text">회원가입</span></a>
            <a class="login-bt move-bt btn" href="/login"><span class="navi-text login-text">로그인</span></a>
        </div>
    </section>
</header>

