<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/hostcenter.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/common_util.css">
    <link rel="stylesheet" href="/css/host/center.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar-left-container">
    <div class="navi-left-logo">
        <a href="/host/center" style="display: inline-block">
            <img class="logo-img" src="/image/util/logo_3.png" alt="">
        </a>
    </div>
    <div class="host-navi-left">
        <button class="free-regist">프리 등록</button>
        <div class="navbar-left">
            <button class="host-info-toggle toggle-area" data-toggle="collapse" data-target="#host-info"
                    aria-expanded="false" aria-controls="host-info">
                <div class="host-info nav-left-link">
                    <img src="/image/host/info-host.svg" style="width: 24px; height: 24px; margin-right: 8px"/>
                    <span class="navbar-left-title">내 정보</span>
                </div>
            </button>
            <div class="collapse" id="host-info">
                <div class="nav-collapse">
                    <a class="nav-left-frame" id="profile" href="/host/profile">
                        <span class="navbar-left-title">프로필 관리</span>
                    </a>
                    <a href="/host/konto" id="konto" class="nav-left-frame">
                        <span class="navbar-left-title">정산정보 관리</span>
                    </a>
                </div>
            </div>
            <button type="button" class="fee-info-toggle toggle-area" data-toggle="collapse" data-target="#free-info"
                    aria-expanded="false" aria-controls="collapseExample">
                <div class="free-info nav-left-link">
                    <img src="/image/host/logo.bcc26773.svg" style="width: 24px; height: 24px; margin-right: 8px"/>
                    <span class="navbar-left-title">프리 관리</span>
                </div>
            </button>
            <div class="collapse" id="free-info">
                <div class="nav-collapse">
                    <a href="/" class="nav-left-frame">
                        <span class="navbar-left-title">프리 등록</span>
                    </a>
                    <a href="/" class="nav-left-frame">
                        <span class="navbar-left-title">프리 목록</span>
                    </a>
                    <a href="/" class="nav-left-frame">
                        <span class="navbar-left-title">판매 관리</span>
                    </a>
                    <a href="/" class="nav-left-frame">
                        <span class="navbar-left-title">예약 관리</span>
                    </a>
                </div>
            </div>
            <button class="profit-info-toggle toggle-area" data-toggle="collapse" data-target="#profit-info"
                    aria-expanded="false" aria-controls="collapseExample">
                <div class="profit-info nav-left-link">
                    <img src="/image/host/bill.69d49dad.svg" style="width: 24px; height: 24px; margin-right: 8px"/>
                    <span class="navbar-left-title">정산 관리</span>
                </div>
            </button>
            <div class="collapse" id="profit-info">
                <div class="nav-collapse">
                    <a href="/" class="nav-left-frame">
                        <span class="navbar-left-title">수익 관리</span>
                    </a>
                    <a href="/" class="nav-left-frame">
                        <span class="navbar-left-title">????</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainContainer">
    <div th:replace="~{/common/host_header :: host_center}"></div>
    <div class="manage-frame" style="width: 100%">
        <div class="manage-info-area">
            <div class="manage-info-header">
                <span class="manage-info-title">홈</span>
            </div>
            <div class="manage-info-frame">
                <div class="manage-info-table">
                    <div class="manage-info-line">
                        <div class="manage-info-totalsale">전체 판매 금액
                            <span class="manage-info-value"> 1,000,000,000 원</span>
                        </div>
                        <div class="manage-info-totalsale">이달 판매 금액
                            <span class="manage-info-value"> 1,000,000 원</span>
                        </div>
                        <div class="manage-info-totalsale">이달 진행 프리
                            <span class="manage-info-value"> 2 개</span>
                        </div>
                        <div class="manage-info-totalsale">전체 결제 건수
                            <span class="manage-info-value"> 10 건</span>
                        </div>
                    </div>
                </div>
                <div class="recommend_bar">
                    <div class="slider">
                        <div class="card-view">
                            <a href="#">
                                <img class="card_img" src="/image/host/host-werbung1.png">
                            </a></div>
                        <div class="card-view">
                            <a href="#">
                                <img class="card_img" src="/image/host/host-werbung2.png">
                            </a></div>
                    </div>
                </div>

                <div class="manage-info-table">
                    <div class="manage-info-line">
                        <img class="qustion-img" src="/image/host/hostcenter_qustion.png" alt="">
                        <div class="qustion-info-area">
                            <div class="qustion-info-title">
                                호스트 지원 센터
                            </div>
                            <div class="qustion-info-text">
                                운영 시간 10:00 ~ 17:00<br>
                                점심 시간 12:00 ~ 13:00
                            </div>
                            <div class="qustion-info-text">
                                채팅상담: 카카오톡 채널 프리
                            </div>
                            <div style="margin-top: 5px">
                                <button class="support-btn">카톡 상담</button>
                                <button class="support-btn">호스트 가이드</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{/common/footer ::host_footer}"></div>
        </div>
    </div>
</div>
</div>
</body>
</html>
