<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/member/member.css">
    <link rel="stylesheet" href="/css/common_util.css">
    <script src="/js/header.js"></script>
    <script src="/js/member.js"></script>

</head>
<body>
<div class="mainContainer">
    <div th:replace=/common/header :: header></div>
    <div class="signup-containner">
        <div class="signup-title">프리 간편 가입</div>
        <div class="signup-main">
            <form class="signnup-form" action="/member/signupProc" method="post">
                <span class="title-input">이름</span>
                <input class="text-input" type="text" name="name" id="name" placeholder="이름을 입력해주세요.">
                <span class="title-input">이메일</span>
                <input class="text-input" type="text" name="email" id="email" placeholder="이메일을 입력해주세요.">
                <span class="title-input">비밀번호</span>
                <input class="text-input" type="password" name="password" id="password"
                       placeholder="영문+숫자+특수문자 조합 8자리이상 입력해주세요.">
                <span class="title-input">비밀번호 확인</span>
                <input class="text-input" type="password" name="password_check" id="password_check">
                <div class="custom-checkbox">
                    <input class="check-box all-check" type="checkbox" name="all-check" id="check-control">
                    <label for="check-control" class="check-label">
                        <span>전체 동의</span>
                    </label>
                    <input class="check-box service-check" type="checkbox" name="service-check" id="service-check">
                    <label for="service-check" class="check-label">
                        <span>[필수] 이용약관 동의</span>
                    </label>
                    <input class="check-box privateinfo-check" type="checkbox" name="privateinfo-check"
                           id="privateinfo-check">
                    <label for="privateinfo-check" class="check-label">
                        <span>[필수] 개인정보 수집 및 이용 동의</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-submit">회원 가입</button>
                <hr>
                <span class="other-login">다른 방법으로 시작하기</span>
                <button type="button" class="btn btn-submit kakao-login-btn"><img
                        src="https://assets.cdn.soomgo.com/icons/icon-login-kakaotalk-btn.svg" alt="카카오 로그인"> &nbsp;카카오로
                    시작
                </button>
                <button type="button" class="btn btn-submit naver-login-btn"><img
                        src="https://assets.cdn.soomgo.com/icons/icon-login-naver-btn.svg" alt="네이버 로그인"> &nbsp;네이버로 시작
                </button>
                <button type="button" class="btn btn-submit google-login-btn"><img
                        src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/google-logo_v2.png" alt="구글 로그인"
                        style="width: 21px; height: 22px;">&nbsp;&nbsp;구글로 &nbsp;시작&nbsp;&nbsp;&nbsp;
                </button>
            </form>
        </div>


    </div>


</div>
<div th:replace=/common/footer ::footer></div>
</body>
</html>