.modal-frame {
    max-width: 800px;
}
.schadule-body {
    padding: 40px;
}
.schadule-area {
    display: flex;
    flex-direction: column;
}
.schadule-frame {
    display: flex;
    margin-bottom: 40px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex-wrap: wrap
}
.schadule-input {
    width: 400px;
    height: 50px;
}
.drop-box {
    width: 150px;
}
.arbeit-zeit {
    display: flex;
}
.start, .end {
    width: 170px;
}
input:focus {
    box-shadow: none!important;
    border: 1px solid #ced4da!important;
    outline: none;
}
input[type="time"] {
    cursor: pointer;
}


.schadule-frame-text {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #8a8a8a;
    width: 230px;
}
.fc table {
    font-size: 14px;
}


.fc .fc-daygrid-day.fc-day-today {
    background-color: #f6f5ff;
}
.fc-day-sat .fc-daygrid-day-number {
    color: #297cff!important;
}

.fc-day-sun .fc-daygrid-day-number {
    color: red!important;
}

.fc a[data-navlink]:hover {
    font-weight: bold;
}

.teilnahme-zahl-area {
    width: 300px;
    height: 50px;
}

.option-popup-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 330px;
    font-weight: bold;
}

.option-popup-title {
    display: inline-block;
    font-size: 15px;
}
.option-popup-cnt-frame {
    width: 40px;
    height: 40px;
    border: 1px solid #e5e5e5;
}
.option-popup-cnt-down {
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option-popup-cnt-up {
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.option-popup-cnt {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.option-popup {
    display: flex;
    flex-direction: row;
    float: right;
}

.schadule-footer {
 border: none;
}

.btn-submit {
    background-color: #61C7FF;
    width: 150px;
    margin: 10px 0;
    height: 45px;
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 13px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
}

.btn-cancel {
    background-color: #d5d5d5!important;
    color: #000000 !important;
    text-shadow: none;
}
.bnt-modal {
    display: none;
}

.message {
    margin: 0 5px;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
    color: red;
    padding: 10px 0 0 225px;
}
.frame {
    margin: 15px 0 0 230px;
}

/*.konto-input {*/
/*    width: 150px;*/
/*    height: 50px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #e5e5e5;*/
/*    box-shadow: none;*/
/*    padding: 0 20px;*/
/*    color: #606266;*/
/*}*/
.schadule-box {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    padding: 0 20px;
    color: #606266;
    cursor: pointer;
}
.icon-arrow::before {
    position: relative;
    right: 40px;
    bottom: 2px;
    display: inline-block;
    width: 20px;
    content: "\2329";
    color: #e5e5e5;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(270deg);
    cursor: pointer;
}
.schadule-type-area {
    display: none;
    transform-origin: center top;
    z-index: 100;
    position: absolute;
    top: 40px;
    left: 230px;
    width: 150px;
    height: 138px;
    border: 1px solid #e7e7e7;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
}
.schadule-type-frame {
    position: relative;
    overflow: hidden;
}
.schadule-type-scroll {
    overflow: scroll;
    height: 100%;
    max-height: 217px;
    margin-bottom: -17px;
    margin-right: -17px;

}
.schadule-type-list {
    box-shadow: #dedede 1px 1px 10px -3px;
    padding: 6px 0;
    margin: 0;
}
.schadule-type {
    padding: 10px 18px;
    list-style: none;
    cursor: pointer;
}
.schadule-type:hover {
    background-color: #EEEEEE;
}
.day-area {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.day-box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: none;
    color: #606266;
    cursor: pointer;
    background-color: #ffffff;
}
.day-box:hover, .checked {
    background-color: #61C7FF;
    color: #f5f5f5;
}
.disable{
    display: none;
}
.everyday {
   color: #61C7FF;
}