/*rotate*/
.recommend_area {
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.recommend_bar {
    display: block;
    position: relative;
    touch-action: pan-y;
    width: 1080px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
}

.recommend_cards {
    position: absolute;
    overflow: hidden;
    touch-action: pan-y;
    width: 100%;
    height: 365px;
    margin: 0 auto;
    padding: 0;
    z-index: 3;
}

.slick-prev:before, .slick-next:before {
    color: #444444;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.reco_card {
    position: absolute;
    overflow: hidden;
    list-style: inherit;
    height: 350px;
    width: 1080px;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    border: none;
    background-color: inherit;
}

.card-view {
    border-radius: 10px;
    height: 99%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #01273C;;
}

.card-body-font {
    color: #353C42;
}

.card_img {
    height: 100%;
    width: 100%;
}

.left-area {
    display: block;
    position: absolute;
    z-index: 1010;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto 0;
    opacity: 0.6;
    transform: translateX(-50%);
}

.right-area {
    display: block;
    position: absolute;
    z-index: 1010;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    opacity: 0.6;
    transform: translateX(50%);
}

.left-area:hover,
.right-area:hover {
    opacity: 0.7;
}

.left-button {
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 36px;
    height: 36px;
    background-image: url(../image/left-arrow.png);
    background-repeat: no-repeat;
    background-position: 42% 50%;
    background-size: 30%;
}

.right-button {
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 36px;
    height: 36px;
    background-image: url(../image/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 30%;
}

.category-container, .beliebt-container, .bereich-container, .newfree-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-main, .beliebt-main, .bereich-main, .newfree-main {
    width: 1080px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.category-item {
    width: 240px;
    margin: 20px 15px;

}


.produkt-wrapper {
    width: 255px;
    height: 300px;
    margin: 0 20px 30px 0;
    border: 1px solid black; /*임시*/
}

.beliebt-cards > :nth-child(4n), .newfree-list > :nth-child(4n) {
    margin-right: 0px;
}

.produkt-link {
    display: inherit;
    height: 100%;
}

.produkt-karte {
    display: inherit;
    height: 100%;
}

.produkt-img-area {
    display: inherit;
    height: 40%;
}

.produkt-img {
    display: inherit;
    height: 100%;
}

.produkt-detail-area {
    height: 60%;
}

.produkt-detail {

}

.produkt-ort {
    display: inherit;
    width: 100%;
    font-size: 15px;
}

.produkt-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 줄 수 설정 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}


.beliebt-cards, .newfree-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.beliebt-card {
    display: inline-block;
    width: 240px;
    margin: 20px 15px;
}


.bereich-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.bereich-item {
    display: inline-block;
    width: 100px;
    margin: 20px 10px;
}



