<!DOCTYPE html>
<html lang="ko">
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/common_util.css">
    <link rel="stylesheet" href="/css/calender.css">
    <style>

        .fc table {
            font-size: 14px;
        }

    </style>
    <script>


        document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar')
            const calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                editable: true,
                droppable: true, // this allows things to be dropped onto the calendar
                initialView: 'dayGridMonth',
                selectable: true,
                selectMirror: true,
                locale: "ko",
                fixedWeekCount: false,
                validRange: {
                    start: new Date(), // 현재 날짜 이후의 날짜만 허용
                },
                navLinks: true,
                navLinkDayClick: function (date, jsEvent) {
                    console.log('day', date.toISOString());
                    console.log('coords', jsEvent.pageX, jsEvent.pageY);
                    $(".btn-primary").click();
                },
                selectable: false,


            })
            calendar.render()

            // function dayrePlace() {
            // $(".fc-daygrid-day-number").each(function () {
            //   var day = $(this).text();
            //   day = day.replace("일", "");
            //   $(this).text(day);
            // });
            // }
            calendar.addEvent({
                title: 'Event1',
                start: '2023-10-13'
            })

        })
        $(function () {
            $(".teilnahme-zahl-area").on("click", ".option-popup-cnt-down", function () {
                let cnt = parseInt($(this).parent().children().eq(1).val());
                console.log($(this).parent().children().eq(1).val());
                if (cnt <= 0) {
                    return false;
                }
                $(this).parent().children().eq(1).val(cnt - 1);
            });
            $(".teilnahme-zahl-area").on("click", ".option-popup-cnt-up", function () {
                let cnt = parseInt($(this).parent().children().eq(1).val());
                $(this).parent().children().eq(1).val(cnt + 1);
            });

        });
    </script>
</head>
<body>
<div id='calendar' style="width: 1000px; height: 900px;"></div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-frame" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">일정 등록</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body schadule-body">
                <div class="schadule-area">
                    <div class="form-group schadule-frame">
                        <span class="schadule-frame-text">일정 </span>
                        <input type="textbox" class="form-control schadule-input" placeholder="반복해?" id=""
                               readonly="readonly">
                    </div>
                    <div class="form-group schadule-frame">
                        <span class="schadule-frame-text">일정 내ㅛㅇㅇ </span>
                        <input type="textbox" class="form-control schadule-input" placeholder="" id="">
                    </div>
                    <div class="form-group schadule-frame">
                        <span class="schadule-frame-text">운영 시간</span>
                        <div class="start-area">
                            <input type="time" step="6000" class="form-control schadule-input start" name="start">
                        </div>
                        <span style="line-height: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <div class="end-area">
                            <input type="time" step="600" class="form-control schadule-input end" name="end">
                        </div>
                    </div>
                    <div class="form-group schadule-frame">
                        <span class="schadule-frame-text">최대 모집 인원</span>
                        <div class="teilnahme-zahl-area">
                            <div class="option-popup-container">
                                <div class="option-popup">
                                    <div class="option-popup-cnt-frame option-popup-cnt-down">-</div>
                                    <input type="text" class="option-popup-cnt-frame option-popup-cnt"
                                           name="validPerson" readonly value="0"></input>
                                    <div class="option-popup-cnt-frame option-popup-cnt-up">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group schadule-frame">
                        <span class="schadule-frame-text">인당 최대 등록 인원</span>
                        <div class="teilnahme-zahl-area">
                            <div class="option-popup-container">
                                <div class="option-popup">
                                    <div class="option-popup-cnt-frame option-popup-cnt-down">-</div>
                                    <input type="text" class="option-popup-cnt-frame option-popup-cnt"
                                           name="maxRegisterPerOne" readonly value="0">
                                    <div class="option-popup-cnt-frame option-popup-cnt-up">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer schadule-footer">
                <button type="button" class="btn-submit">일정 생성</button>
                <button type="button" class="btn-submit btn-cancle">취소</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>