<html>
<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/mainpage.js"></script>
    <script src="js/header.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/common_util.css">
    <link rel="stylesheet" href="css/mainpage.css">
    <script !src=""></script>
    <title>Title</title>
</head>
<body>
<div class="mainContainer">
    <div th:replace=/common/header :: header></div>
    <div class="recommend_area">
        <div class="recommend_bar">
            <div class="slider">
                <div class="card-view">
                    <a href="contents/${c.chNum}/${c.boardNum}">
                        <img class="card_img" src="../image/roll/1.jpg">
                    </a></div>
                <div class="card-view">
                    <a href="contents/${c.chNum}/${c.boardNum}">
                        <img class="card_img" src="../image/roll/2.jpg">
                    </a></div>
            </div>
        </div>

        <div class="category-container">
            <span class="category-title">카테고리</span>
            <div class="category-main">
                <a href="/" class="category-item">아웃도어</a>
                <a href="/" class="category-item">스포츠</a>
                <a href="/" class="category-item">언어</a>
                <a href="/" class="category-item">베이킹</a>
                <a href="/" class="category-item">심리/상담</a>
                <a href="/" class="category-item">문화예술</a>
                <a href="/" class="category-item">여행</a>
                <a href="/" class="category-item">자기개발</a>
            </div>
        </div>
        <div class="beliebt-container">
            <div class="beliebt-main">
                인기 있는 프리
                <div class="beliebt-cards">
                    <!--                    <div th:each="8" >-->
                    <div class="produkt-wrapper">
                        <a href="/products/1" class="produkt-link">
                            <div class="produkt-karte">
                                <div class="produkt-img-area">
                                    <img class="produkt-img" src="image/logo_1.png"/>
                                </div>
                                <div class="produkt-detail-area">
                                    <div class="produkt-detail">
                                        <span class="produkt-ort">서울/성수</span>
                                        <span class="produkt-title">나만의 반려식물, 테라리움 만들기</span>
                                        <hr>
                                        <span class="produkt-preise">10,000원</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="produkt-wrapper">
                        <a href="/products/1" class="produkt-link">
                            <div class="produkt-karte">
                                <div class="produkt-img-area">
                                    <img class="produkt-img" src="image/logo_1.png"/>
                                </div>
                                <div class="produkt-detail-area">
                                    <div class="produkt-detail">
                                        <span class="produkt-ort">sadfsdfsda</span>
                                        <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                        <hr>
                                        <span class="produkt-preise">10,000원</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="produkt-wrapper"><a href="" class="produkt-link">
                        <div class="produkt-karte">
                            <div class="produkt-img-area">
                                <img class="produkt-img" src=""/>
                            </div>
                            <div class="produkt-detail-area">
                                <div class="produkt-detail">
                                    <span class="produkt-ort">sadfsdfsda</span>
                                    <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                    <hr>
                                    <span class="produkt-preise">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="produkt-wrapper"><a href="" class="produkt-link">
                        <div class="produkt-karte">
                            <div class="produkt-img-area">
                                <img class="produkt-img" src=""/>
                            </div>
                            <div class="produkt-detail-area">
                                <div class="produkt-detail">
                                    <span class="produkt-ort">sadfsdfsda</span>
                                    <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                    <hr>
                                    <span class="produkt-preise">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="produkt-wrapper"><a href="" class="produkt-link">
                        <div class="produkt-karte">
                            <div class="produkt-img-area">
                                <img class="produkt-img" src=""/>
                            </div>
                            <div class="produkt-detail-area">
                                <div class="produkt-detail">
                                    <span class="produkt-ort">sadfsdfsda</span>
                                    <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                    <hr>
                                    <span class="produkt-preise">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="produkt-wrapper"><a href="" class="produkt-link">
                        <div class="produkt-karte">
                            <div class="produkt-img-area">
                                <img class="produkt-img" src=""/>
                            </div>
                            <div class="produkt-detail-area">
                                <div class="produkt-detail">
                                    <span class="produkt-ort">sadfsdfsda</span>
                                    <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                    <hr>
                                    <span class="produkt-preise">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="produkt-wrapper"><a href="" class="produkt-link">
                        <div class="produkt-karte">
                            <div class="produkt-img-area">
                                <img class="produkt-img" src=""/>
                            </div>
                            <div class="produkt-detail-area">
                                <div class="produkt-detail">
                                    <span class="produkt-ort">sadfsdfsda</span>
                                    <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                    <hr>
                                    <span class="produkt-preise">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    <div class="produkt-wrapper"><a href="" class="produkt-link">
                        <div class="produkt-karte">
                            <div class="produkt-img-area">
                                <img class="produkt-img" src=""/>
                            </div>
                            <div class="produkt-detail-area">
                                <div class="produkt-detail">
                                    <span class="produkt-ort">sadfsdfsda</span>
                                    <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                    <hr>
                                    <span class="produkt-preise">10,000원</span>
                                </div>
                            </div>
                        </div>
                    </a>
                        <!--                    </div>-->
                    </div>
                </div>

                <div class="bereich-container">
                    <div class="bereich-main">
                        지역별 찾기
                        <div class="bereich-list">
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">서울</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">부산</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">인천</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">수원</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">성남</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">대전</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">대구</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">광주</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">울산</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">경기</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">강원</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">충북</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">충남</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">경북</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">경남</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">전북</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">전남</button>
                            </a>
                            <a href="/" class="bereich-item">
                                <button class="btn free-btn">제주</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="newfree-container">
                    <div class="newfree-main">
                        새로운 프리
                        <div class="newfree-list">
                            <div class="produkt-wrapper"><a href="" class="produkt-link">
                                <div class="produkt-karte">
                                    <div class="produkt-img-area">
                                        <img class="produkt-img" src="image/logo_1.png"/>
                                    </div>
                                    <div class="produkt-detail-area">
                                        <div class="produkt-detail">
                                            <span class="produkt-ort">서울 / 종로</span>
                                            <span class="produkt-title">나만의 반려식물, 테라리움 만들기</span>
                                            <hr>
                                            <span class="produkt-preise">10,000원</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="produkt-wrapper"><a href="" class="produkt-link">
                                <div class="produkt-karte">
                                    <div class="produkt-img-area">
                                        <img class="produkt-img" src="image/logo_1.png"/>
                                    </div>
                                    <div class="produkt-detail-area">
                                        <div class="produkt-detail">
                                            <span class="produkt-ort">sadfsdfsda</span>
                                            <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                            <hr>
                                            <span class="produkt-preise">10,000원</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="produkt-wrapper"><a href="" class="produkt-link">
                                <div class="produkt-karte">
                                    <div class="produkt-img-area">
                                        <img class="produkt-img" src=""/>
                                    </div>
                                    <div class="produkt-detail-area">
                                        <div class="produkt-detail">
                                            <span class="produkt-ort">sadfsdfsda</span>
                                            <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                            <hr>
                                            <span class="produkt-preise">10,000원</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                            <div class="produkt-wrapper"><a href="" class="produkt-link">
                                <div class="produkt-karte">
                                    <div class="produkt-img-area">
                                        <img class="produkt-img" src=""/>
                                    </div>
                                    <div class="produkt-detail-area">
                                        <div class="produkt-detail">
                                            <span class="produkt-ort">sadfsdfsda</span>
                                            <span class="produkt-title">asdfscvbcvbvcbvcbadfsdfsfsdfsdfsdfdsfdsfsdfsd</span>
                                            <hr>
                                            <span class="produkt-preise">10,000원</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/host/regist" style="width: inherit">
                    <img class="host-join" style="width: inherit" src="/image/host/host_regist_banner.jpg"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/common/footer ::footer}"></div>
</body>
</html>
