<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/member.js" type="module"></script>
</head>
<body>
<!--주소-->

<span th:text="${payInfo}"></span>
<div class="address-area">
    <input type="text" name="address" class="address">
    <button class="address-search">주소 찾기</button>
    <input type="text" name="address_detail" class="address_detail">
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    $(".address-search").click(function () {

        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                $(".address").val(data.address); // 주소 넣기
            }
        }).open();
    });
</script>



</body>
</html>