<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/member.js" type="module"></script>
</head>
<body>
<div th:if="${not #lists.isEmpty(session.user_info)}">
    <span th:text="${session.user_info.nickname}"></span>
    <span th:text="${session.user_info.phoneNumber}"></span>
    <span th:text="${session.user_info.id}"></span>
    <span th:text="${session.user_info.email}"></span>
    <img th:src="${session.user_info.profile}">
</div>


</body>
</html>