.detail-container {
    margin-top: 50px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.detail-header {
    width: 800px;
    height: 375px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.detail-header-img-area {
    max-width: 375px;
    height: 375px;
    /*border: 1px solid black; !*임시*!*/
    border-radius: 10px;
}

.detail-header-img {
    max-width: inherit;
    border-radius: inherit;
}

.detail-header-info {
    padding-left: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.detail-text-area {
    height: 85%;
}

.detail-header-host-area {
    position: relative;
    height: 60px;
    bottom: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detail-header-host-profile {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 20px;
}
.detail-header-host {
    font-size: 17px;
    width: 250px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img_arrow {
    width: 20px;
}

.detail-header-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail-header-ort {
    font-size: 15px;
    color: #a6a6a6;
    margin-bottom: 10px;
}

.detail-header-preis {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.detail-body {
    width: 100%;
    border-top: 1px solid #d2d2d2;
}

.detail-body-head, .detail-platz-title {
    margin: 20px 0;
    font-weight: bolder;
    font-size: 20px;
}

.detail-body-main {
    height: 1000px;
    overflow: hidden;
}
.more-view {
    height: inherit;
    overflow: inherit;
}
.arrow-turn {
    transform: rotate(180deg);
}
.image_resized {
    max-width: 800px!important;
}
.detail-body-cover {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-body-cover-button {
    border: 1.5px solid black;
    width: 327px;
    height: 56px;
    font-weight: bold;
}

.detail-body-cover-button:focus {
    box-shadow: none;
}

.detail-platz-karte {
    width: 800px;
    height: 465px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.08);
}
.detail-platz-address {
    display: inline-block;
    padding: 20px;
}


.teilnahme-area {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0%;
    height: 100px;
    border-top: 1px solid #d2d2d2;
    width: 100%;
    z-index: 100;
    background-color: white;
}

.teilnahme-btn {
    width: 500px;
    height: 50px;
    margin: 25px;
    background-color: #61C7FF;
    color: #f5f5f5;
    font-weight: bold;
}