.mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.mypage-container, .info-container {
    margin: 60px 0 60px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 720px;
}

.head-title {
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    display: inline-block;
}

.mypage-head, .info-head {
    margin-bottom: 30px;
}

.mypage-profile {
    display: flex;
    flex-direction: row;
    width: inherit;
}


.mypage-profile-img {
    width: 71px;
    height: 71px;
}
.profile-img {
    width: inherit;
    height: inherit;
}
.profile-area {
    width: 71px;
    height: 71px;
    cursor: pointer;
}

.profile-img {
    border-radius: 10px;
}

.mypage-profile-name {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5px 0 3px 20px;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
}


.horizon {
    border-top: 0.0625rem solid #9a9a9a;
    padding: 30px 0 8px 0;
}

.mypage-title {
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bolder;
    font-family: "맑은 고딕";
}

.mypage-text {
    padding-left: 15px;
    display: inline-block;
    width: 100%;
    height: 50px;
    align-items: center;
    font-family: "맑은 고딕";
    line-height: 50px;
}

.mypage-text:hover {
    background-color: #d5d5d5;
    border-radius: 5px;
}
.info-profile {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: flex-end;
    margin-bottom: 30px;
}

.info-update {
    border: none;
    float: right;
    color: #61C7FF;
    font-weight: bold;
    background: none;
}
.profile-account {
    font-size: 15px;
    color: #9a9a9a;
}

.camera-container {
    background-color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -24px;
    right: -55px;
}
.camera {
    width: 18px;
    height: 16px;
}
.upload-profile {
    display: none;
}
.info-area {
    margin: 15px 0;

}
.info-name {
    color: #757575;
    font-weight: bold;
    margin-bottom: 10px;
}
.info-name-input {
    padding: 3.5px 10px;
    height: 2.5rem;
    width: 100%;
    border: 2px solid #757575;
    border-radius: 10px;
    overflow: visible;
}
.info-name-input:focus {
    outline: none;
    /*border: none;*/
}
input[class="info-name-input"]::-webkit-search-cancel-button {
    appearance: none;
    -webkit-appearance: none;
    display: none;
}
.password-area {
    display: flex;
    flex-direction: row;
}
.info-password-input {
    width: 90%;
    display: inline-block;
    margin-right: 15px;
}
.change-password-container {
    width: 450px;
    margin: 0 auto;
}
.change-password {
    display: inline-block;
    border: none;
    font-size: 13px;
    font-weight: bold;
    background-color: #61C7FF;
    width: 85px;
    border-radius: 5px;
    color: #f5f5f5;
}
.change-password-body {
    display: flex;
    flex-direction: column;
}

.orgin-password-area, .new-password-area, .new-password-check-area {
    margin-bottom: 25px;
}
.eingangplatz {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: 10px;
    height: 2.5rem;
    padding-left: 10px;
}

.change-password-btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #61C7FF;
    float: right;
    color: #f5f5f5;
    font-weight: bolder;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

.message {
    margin: 0 5px;
    font-size: 13px;
    margin-bottom: 8px;
    display: block;
}
.ok {
    color: green;
}
.fail {
    color: red;
}

.readonly {
    background-color: rgb(238, 238, 238);

}